<div class="flex flex-column" style="width: 100vw; height: 100%;">
  <div class="flex">
    <div class="flex flex-wrap justify-content-between px-3" style="height: 48px; width: 100%;">
      <div class="flex align-content-center">
        <div class="flex align-items-center">
          <div class="toolbar-title">
            <p>使用者權限</p>
          </div>
        </div>
        <div class="flex align-items-center">
          <i class="pi pi-question-circle"></i>
        </div>
      </div>
      <div class="flex align-content-center gap-2">
        <div class="flex align-items-center">
          <p-button (click)="onClearClick()" label="復原" styleClass="p-button-secondary"></p-button>
        </div>
        <div class="flex align-items-center">
          <p-button label="更新" (onClick)="onUpdateClick()"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-1">
    <div class="px-3 pb-3 h-full flex flex-column" style="width: 100%;">
      <div class="card flex-1 p-2">
        <div>
          <p-table
          [value]="editableUsers"
          selectionMode = "single"
          dataKey="id"
          [rows]="6"
          [rowHover]="true"
          [paginator]="true"
          responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="flex  align-items-center">
                  User Name
                </div>
              </th>
              <ng-container *ngFor="let app of appStores">
                <th>
                  <div class="flex  align-items-center">
                    {{app.appTitle}}
                  </div>
                </th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>
                user.userName
              </td>
              <ng-container *ngFor="let app of appStores">
                <td>
                  <p-checkbox name="group" [value]="app.appTitle" [(ngModel)]="user.systemAuthority"></p-checkbox>
                </td>
              </ng-container>
            </tr>
          </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
